.contein {
    display: flex;
    height: 52px;
    padding: var(--spacing-small);
    background-color: #9999CC;

}
.counter {
    margin-left: auto;
    padding-right: 20px ;
    font-weight: bold;
    cursor: pointer;

}
